:root{
    --dark-orange: #e87900;
    --light-orange: #fec88b;
    --header-orange: #ffdeba;
    --light-grey: #dadadb;
    --dark-grey: #404547;
    --normal-font: 1rem;
    --big-font: 1.3rem;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}