@import 'vars';

.dog-item{
background-color: white;
height: 288px;
width: 288px;
border-radius: 8px;
box-shadow: 1px 1px 3px 0.1px rgb(88, 88, 88);
}
.dog-item figure img{
    display: flex;
    flex-direction: column;
}
.dog-picture{
    height: 288px;
    width: 288px;
    border-radius: 8px;
    object-fit: cover;
}
.favorite-dog{
    height: 60px;
    width: 60px;
    object-fit: cover;
    position: relative;
    bottom: 42px;
    left: 242px;
    cursor: pointer;
}